body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.7fr 1.3fr;
}

.title {
  grid-column: 1/-1;
  justify-self: center;
}

.title img {
  width: 450px;
  padding: 10px;
}

.board-boxes {
  width: 420px;
  height: 400px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  background-image: url('./images/frame_board.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  grid-gap: 10px;
  grid-column: 2/3;
}

.box {
  display: grid;
  place-items: center;
}

.images {
  height: 50px;
}

.gameEdit {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gameEdit h2 {
  text-align: center;
}

.divOwlImage {
  height: 70px;
}

.chooseYourOwl {
  display: flex;
  justify-content: space-evenly;
}

.button-reset {
  align-self: center;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
}

#winner {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
